body {
  background-image: url('./assets/houndstooth-pattern.png');
}

p {
  font-size: larger;
}

header {
  background-color: brown;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: brown;
  height: 100px;
  
  text-align: center;
  margin-top: 20px;
}

canvas {
  border: 1px solid black;
}

.center-horizontal {
  width: 50%;
  margin: 0 auto;

}

.game-container {
  font-size: larger;
  width: 80%;
  height: 500px;
  margin: 0 auto;

  border: 4px dashed brown;
  border-radius: 12px;
  padding: 8px;

  position: relative;
}

/* Center horizontally and vertically inside container. */
.game-container > .center {
  
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.lang-select-container {
  width: 20px;
  display: flex;
  flex-direction: row;
}


.main-input[type=text] {
  padding: 12px 8px;
  margin: 8px 0;
  border: 2px solid brown;
  background: #f0f0f0;
  text-align: center;
  font-size: 1.5em; 
  border-radius: 100px;
}

.chat-input {
  height: 45px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  
}

.chat-messages {
  height: 90%;
  overflow-y: scroll;
  overflow-x: scroll;
  word-break: break-all;
  font-size: 16px;

}

button {
  font-size: 1.5em;
  background-color: brown;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;

}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.rooms-container {

}

.rooms-container > li {
  display: block;
  list-style-type: none;
}